@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1A1A1A;
  --foreground: #FCFCFC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #FCFCFC;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
}
